html *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}

#home{
    font-size: 24px;
    background-color: papayawhip;
    color: black;
    font-weight: bold;
    text-align: left;
}

#header-title{
    color: rgb(255, 120, 120);
    text-align: center;
}

#list-recipes{
    font-size: 20px;
    margin-left: 775px;
    
    list-style: none;
}

img{
   width:500px;
   height:auto; 
   display: block;
   margin:auto;
   border-color: black;
   border: 2px solid black;
}

#description{
    margin-left: 250px;
    padding-top: 10px;
}

#food-description{
    text-align: left;
    width: 500px;
    margin-left: 100px;
}

#ingredients{
    margin-left: 260px;
    padding-top: 10px;
}

#ingredient-list{
    margin-left: 235px;
}

#steps{
    margin-left: 275px;
    padding-top: 10px;
}

#steps-list{
    margin-left: 100px;
    padding-bottom: 20px;    
}




