html *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#home{
    font-size: 24px;
    background-color: papayawhip;
    color: black;
    font-weight: bold;
    text-align: left;
}

#header-title{
    color: rgb(255, 120, 120);
    text-align: center;
}

#list-recipes{
    font-size: 20px;
    text-align: center;
}

img{
   width:500px;
   height:auto; 
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-color: black;
   border: 2px solid black;
}

h2{

}




